<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="${SERVICES_PERMISSION}" />
    <uses-permission android:name="${SDK_ACCESS_SUPPLIES_PERMISSION}" />

    <application>
        <provider
            android:name=".provider.SuppliesLetContentProvider"
            android:authorities="com.hp.jetadvantage.link.authority.suppliesletcp"
            android:permission="${SDK_ACCESS_SUPPLIES_PERMISSION}"
            android:exported="true"/>
    </application>

</manifest>
